.bg-blue {
    padding: .75rem 0 !important;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, rgb(13, 110, 253), rgba(13, 110, 253, 0.92)) !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15) !important;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.w-5 {
    max-width: 15px;
}

nav > .justify-between {
    display: none;
}

nav .shadow-sm a.ring-gray-300 {
    text-decoration: none;
    color: #0d6efd;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1000px
    }
}
